<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Movie Recommender</title>

  {% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" type="text/css" media="all" />
<script type="text/javascript" src=" {% static 'pages/js/jquery-1.4.2.min.js' %} "></script>
<script type="text/javascript" src=" {% static 'pages/js/jquery-func.js' %} "></script>
<!--[if IE 6]>
  <link rel="stylesheet" href=" {% static 'pages/css/ie6.css' %} " type="text/css" media="all"/><![endif]-->
<body>

<div id="shell">

    <div id="header" style="min-height:10em">
    <h1 id="logo"><a href="#">best recommender</a></h1>

    <div id="sub-navigation" style="padding: 2em">
      <div id="search" >
        <form action="#" method="get" accept-charset="utf-8">
          <label for="search-field">Let us inspire you! Tell us what you like </label>
          <input type="text" name="search field" value="Toy Story" id="search-field" class="blink search-field">
          <input type="submit" value="GO!" class="search-button">
        </form>
      </div>
    </div>
  </div>


    {% include 'header.html' %}

    {% block content %}
            replace me
    {% endblock  %}



    <div id="footer">
    <p class="lf">Copyright &copy; 2019 <a href="#">SiteName</a> - All Rights Reserved</p>
    <div style="clear:both;"></div>
  </div>

</div>
</body>
</html>